## 
## # Targets for managing the service provided by this REPRO
## 

start-service:          ## Start the service provided by this REPRO.
		$(RUN_IN_REPRO) 'make -C ${REPRO_SERVICE_DIR} install run'
